<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Digimon Material</span>
    <span class="example-spacer"></span>
    
    <mat-toolbar color="primary">
        
        <span class="spacer"></span>
        <button (click)="changeTheme()" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
          <mat-icon>
            contrast
          </mat-icon>
        </button>
      </mat-toolbar>
  </mat-toolbar>